.container-home,
.categories-container {
  display: flex;
  margin-top: 2rem;
  margin-left: 2rem;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.margin {
  margin-left: 1rem;
}
